root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown uses trailing double-spaces for line breaks
[*.md]
trim_trailing_whitespace = false
indent_size = 2

[*.{yml,yaml,json}]
indent_size = 2

[*.{xml,csproj,props,targets}]
indent_size = 2

[*.{razor,cshtml,html,css}]
indent_size = 4

[*.{cmd,bat,ps1,sln}]
end_of_line = crlf
